@import "tailwindcss";

@font-face {
  font-family: 'PixelOperator';
  src: url('../fonts/PixelOperator.ttf') format('truetype');
}

@font-face {
  font-family: 'PixelOperatorSC';
  src: url('../fonts/PixelOperatorSC.ttf') format('truetype');
}

@layer utilities {
  .font-pixel {
    font-family: 'PixelOperator', roboto, sans-serif;
  }
  .font-pixel-sc {
    font-family: 'PixelOperatorSC', roboto, sans-serif;
  }
}

@theme {
  /* Don't work */
  /*---font-pixel: 'PixelOperator';*/
  /*---font-pixel-sc: 'PixelOperatorSC';*/
}

body {
  @apply text-white bg-gray-900;
}
